/*
Name:Married | 3 in 1 Wedding Template
Version:1.0
Author:Denis Samardjiev
*/

/* =Table of Contents
--------------------------------------------------------------
	=Common Styles
    =Typography
    =Margin + Padding
    =Animate Example
    =Jumbotron
    =Carousel
    =Buttons
    =Navbar
    =Modals
    =Forms
    =Alerts
    =Tabs
    =Panels
    =Lists
    =Gallery + Registry
    =Timeline
    =Progress Bars
    =Our count
    =Footer
    =Media Queries
*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700|Playfair+Display);

/* =Common Styles
-------------------------------------------------------------- */
body {
    font-family: 'Playfair Display';
    font-size: 18px;
    color: #b2b2b2;
    height: 100%;
}

html {
    height: 100%;
}

a {
    color: #b5b5b5;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a.underline-link {
    text-decoration: underline;
}

a.color-link {
    color: #ecbf87;
}

a.color-link:focus, a.color-link:hover {
    color: #ecbf87;
}

a:focus, a:hover {
    color: #ecbf87;
}

a:focus {
    outline: none;
    outline-offset: none;
}

/* =Typography
-------------------------------------------------------------- */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2 h3, h4, h5, h6 {
    font-family: 'Josefin Sans';
    font-weight: 700;
    text-transform: uppercase;
    color: #ecbf87;
}

.section-title {
    font-family: 'Josefin Sans';
    font-weight: 700;
    text-transform: uppercase;
    color: #ecbf87;
    margin: 0;
    line-height: .85;
}

.section-subtitle {
    font-family: 'Josefin Sans';
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.section-subtitle-2 {
    font-family: 'Playfair Display';
    color: #989898;
    margin: 0;
}

.section-divider {
    display: block;
    margin: 25px 0 35px 0;
    width: 45px;
    height: 1px;
    background-color: #dadada;
}

.section-divider-center {
    margin: 25px auto 35px auto;
}

.section-divider-transparent {
    background-color: rgba(255, 255, 255, 0.18);
}

/* =Jumbotron
-------------------------------------------------------------- */
.jumbotron.jumbotron-main {
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', sans-serif;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    margin:0;
}

.jumbotron.jumbotron-page {
    height: 500px;
    width: 100%;
    font-family: 'Playfair Display', sans-serif;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    margin:0;
}

.center-vertically {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    position: relative;
    width: 100%;
}

.jumbotron p {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Playfair Display';
}

.center-vertically-holder {
    display: table;
    height: 100%;
    width: 100%;
}

.scroll-indicator {
    line-height: 45px;
}

.parallax-window {
    background: transparent;
}

.scroll-down {
    position: absolute;
    width: 100%;
    bottom: 40px;
    text-align: center;
}

.scroll-down .btn {
    font-size: 21px;
    border-radius: 50%;
    padding: 0;
    height: 45px;
    width: 45px;
    color: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.scroll-down .btn:hover {
    color: #ecbf87;
}

.ticker {
    overflow: hidden;
    height: 39px;
    vertical-align: baseline;
}

.ticker h1 {
    font-weight: 600;
    border: none;
    display: block;
    margin: 0px;
    height: 39px;
    -webkit-transition: margin-top 0.5s ease-in-out;
    -moz-transition: margin-top 0.5s ease-in-out;
    -o-transition: margin-top 0.5s ease-in-out;
    transition: margin-top 0.5s ease-in-out;
}

#clock span {
    display: block;
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
}

#clock b {
    font-family: 'Josefin Sans';
    color: #ecbf87;
    font-weight: 300;
    display: block;
    font-size: 56px;
    line-height: 46px;
}

#clock .clock-section {
    display: inline-block;
    padding: 0 20px;
}

#clock .clock-section:last-child {
    border-right: none;
}

/* =Buttons
-------------------------------------------------------------- */
.btn {
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.44;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.btn-primary {
    color: #fff;
    background-color: #ecbf87;
    border-color: #ecbf87;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ca9e68;
    border-color: #ca9e68;
}

.btn-primary.active.focus
,.btn-primary.active:focus
,.btn-primary.active:hover
,.btn-primary:active.focus
,.btn-primary:active:focus
,.btn-primary:active:hover
,.open > .dropdown-toggle.btn-primary.focus
,.open > .dropdown-toggle.btn-primary:focus
,.open > .dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #ca9e68;
    border-color: #ca9e68;
}

.btn-primary.focus
,.btn-primary:focus {
    color: #fff;
    background-color: #ca9e68;
    border-color: #ca9e68;
}

.btn-primary.disabled.focus
,.btn-primary.disabled:focus
,.btn-primary.disabled:hover
,.btn-primary[disabled].focus
,.btn-primary[disabled]:focus
,.btn-primary[disabled]:hover
,fieldset[disabled] .btn-primary.focus
,fieldset[disabled] .btn-primary:focus
,fieldset[disabled] .btn-primary:hover {
    background-color: #ca9e68;
    border-color: #ca9e68;
}

.btn-primary.active
,.btn-primary:active
,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ce726c;
    border-color: #ce726c;
}

.btn.active.focus
,.btn.active:focus
,.btn.focus
,.btn:active.focus
,.btn:active:focus
,.btn:focus {
    outline: thin dotted;
}

.btn-lg {
    padding: 10px 20px 8px 20px;
}

.btn-default {
    color: #bdbdbd;
}

/* =Navbar
-------------------------------------------------------------- */
.navbar-default {
    margin-top: 3px;
    margin-bottom: 0;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-nav > li > a {
    line-height: 70px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: 'Josefin Sans';
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav > li > a {
    padding: 10px 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #d0d0d0;
}

.navbar-default .navbar-brand {
    font-family: 'Josefin Sans';
    color: #fff;
}

.navbar-brand {
    font-size: 36px;
    line-height: 63px;
    height: 90px;
}

.navbar-default .navbar-brand:focus
,.navbar-default .navbar-brand:hover {
    color: #ecbf87;
    background-color: transparent;
}

.nav-btn {
    margin: 24px 15px;
}

.navbar-nav > li.nav-btn a:hover {
    color: #fff;
    background-color: #ca9e68;
    border-color: #ca9e68;
}

.navbar-scroll {
    background-color: rgba(32, 26, 43, 0.93);
    margin-top: 0;
}

.navbar-default .navbar-nav > .active > a
,.navbar-default .navbar-nav > .active > a:focus
,.navbar-default .navbar-nav > .active > a:hover {
    color: #ecbf87;
    background-color: transparent;
}

.navbar-default .navbar-collapse
,.navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus
,.navbar-default .navbar-toggle:hover {
    background-color: #ecbf87;
}

.navbar-default .navbar-toggle {
    border-color: #ecbf87;
}

.navbar-toggle {
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: #ecbf87;
    border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav > .open > a
,.navbar-default .navbar-nav >.open > a:focus
,.navbar-default .navbar-nav > .open > a:hover {
    color: #ecbf87;
    background-color: transparent;
}

/* =Footer
-------------------------------------------------------------- */
footer {
    font-family: 'Josefin Sans';
    background-color: rgba(32, 26, 43, 0.95);
    padding: 40px 0;
    color: #fff;
}

.footer-brand {
    font-size: 24px;
    color: #ecbf87;
    display: inline-block;
    line-height: 20px;
}

.footer-arrow {
    font-size: 30px;
}

/* =Media Queries
-------------------------------------------------------------- */
@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left:0; }
    .dropdown .dropdown-menu{ display:block; opacity:0; -webkit-transition:all 200ms ease-in; -moz-transition:all 200ms ease-in; -ms-transition:all 200ms ease-in; -o-transition:all 200ms ease-in; transition:all 200ms ease-in; }
    .dropdown:hover .dropdown-menu { display:block; opacity:1; }
    .timeline:before { left:50%; }
    .timeline > li { margin-bottom:100px; min-height:100px; }
    .timeline > li .timeline-panel { width:41%; float:left; padding:0 20px 20px 30px; text-align:right; }
    .timeline > li .timeline-image { width:100px; height:100px; left:50%; margin-left:-50px; }
    .timeline > li .timeline-image h4 { font-size:13px; margin-top:16px; line-height:18px; }
    .timeline > li.timeline-inverted > .timeline-panel { float:right; text-align:left; padding:0 30px 20px 20px; }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left:15px; }
    .navbar-right { margin-right:15px; }
}
